/*============== header_area css ==============*/
.header_area {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 20;
  top: 0;
  .container {
    position: relative;
  }
}
.menu_one {
  padding: 0px;
  .btn_get {
    margin-left: 40px;
  }
}
.sticky_logo {
  img {
    & + img {
      display: none;
    }
  }
}
.mobile_btn {
  @media (min-width: 992px) {
    visibility: hidden;
    display: none;
  }
}
.hidden-sm {
  @media (max-width: 991px) {
    visibility: hidden;
    display: none;
  }
}
.menu {
  > .nav-item {
    position: relative;
    padding-bottom: 35px;
    padding-top: 35px;
    > .nav-link {
      font: 500 15px $pop;
      color: $h_dk;
      padding: 0px;
      transition: color 0.3s ease 0s;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 1px;
        background: #6754e2;
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        transition: all 0.2s linear;
      }
      &:after {
        display: none;
      }
    }
    &.submenu {
      .dropdown-menu {
        margin: 0px;
        border: 0px;
        margin: 0px;
        border-radius: 0px;
        left: 0;
        min-width: 200px;
        background: transparent;
        box-shadow: 0px 15px 27px 0px rgba(14, 0, 40, 0.05);
        @media (min-width: 992px) {
          transform: translateY(20px);
          transition: all 0.3s ease-in;
          opacity: 0;
          visibility: hidden;
          display: block;
        }
        .nav-item {
          display: block;
          width: 100%;
          margin-right: 0px;
          padding: 0px 40px;
          background: #fff;
          .nav-link {
            padding: 0px;
            white-space: nowrap;
            font: 400 14px/34px $pop;
            color: $h_dk;
            transition: color 0.2s linear;
            &:after {
              display: none;
            }
          }
          &:hover,
          &:focus,
          &.active {
            > .nav-link {
              color: #5e2ced;
            }
          }
          &:first-child {
            padding-top: 25px;
          }
          &:last-child {
            padding-bottom: 40px;
            margin-bottom: -8px;
          }
          > .dropdown-menu {
            transition: all 0.3s ease-in;
            &:before {
              display: none;
            }
            @media (min-width: 992px) {
              position: absolute;
              left: 100%;
              top: 0;
              opacity: 0;
              display: block;
              visibility: hidden;
              transform: translateY(20px);
              transition: all 0.3s ease-in;
            }
          }
        }
      }
      &.mega_menu {
        position: static;
        > .dropdown-menu {
          min-width: 200px;
          list-style: none;
          box-shadow: 0px 15px 27px 0px rgba(14, 0, 40, 0.05);
          left: 0;
          right: 0;
          transition: all 300ms linear 0s;
          background: #fff;
          @media (min-width: 992px) {
            display: flex;
          }
          > .nav-item {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-bottom: -10px;
            width: 25%;
            > .nav-link {
              font: 500 18px $pop;
              color: #13112d;
            }
            .dropdown-menu {
              left: 0;
              position: relative;
              transform: translateY(0);
              box-shadow: none;
              padding: 0px;
              > .nav-item {
                padding-left: 0px;
                padding-right: 0px;
                white-space: normal;
                &:first-child {
                  padding-top: 20px;
                }
                &:last-child {
                  padding-bottom: 0px;
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
        &:hover {
          @media (min-width: 992px) {
            .dropdown-menu {
              > .nav-item {
                > .dropdown-menu {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
    &:nth-last-child(-n + 2) {
      &.submenu {
        .dropdown-menu {
          left: auto;
          right: 0;
          .nav-item {
            > .dropdown-menu {
              left: auto;
              right: 100%;
            }
          }
        }
      }
    }
    & + .nav-item {
      margin-left: 45px;
    }
    &.active {
      .nav-link {
        color: #6754e2;
        &:before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
    &:hover {
      .nav-link {
        color: #6754e2;
        &:before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
      @media (min-width: 992px) {
        .dropdown-menu {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
          > .nav-item {
            &:hover {
              @media (min-width: 992px) {
                .dropdown-menu {
                  transform: scaleY(1);
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu_two {
  padding: 0px;
  .w_menu {
    > .nav-item {
      .nav-link {
        &:before {
          background: #a5d5f5;
        }
      }
      &.submenu {
        .dropdown-menu {
          .nav-item {
            &:hover,
            &:focus,
            &.active {
              > .nav-link {
                color: #00aff0;
              }
            }
          }
        }
        &.mega_menu {
          > .dropdown-menu {
            > .nav-item {
              > .nav-link {
                color: #13112d;
              }
            }
          }
        }
      }
    }
  }
  .menu_toggle {
    .hamburger-cross span,
    .hamburger span {
      background: #fff;
    }
  }
}
.w_menu {
  .nav-item {
    .nav-link {
      color: #fff;
      &:before {
        background: #fff;
      }
    }
    &:hover,
    &.active {
      .nav-link {
        color: #fff;
      }
    }
  }
}
.nav_right_btn {
  .login_btn {
    font: 500 15px $pop;
    padding: 13px 32px;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    background: #fcd11f;
    color: #333;
    transition: all 0.2s linear;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border: 1px solid transparent;
    &:hover,
    &.active {
      box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
    }
  }
  @media (max-width: 991px) {
    display: none;
  }
}

.menu_four {
  .btn_get {
    border-color: #fff;
    padding: 0px 30px;
    background: #fff;
    min-width: 120px;
    text-align: center;
    &:hover {
      background: #5e2ced;
      border-color: #5e2ced;
    }
  }
  .menu_toggle {
    .hamburger,
    .hamburger-cross {
      span {
        background: #fff;
      }
    }
  }
}

.menu_five {
  border-radius: 0px;
  .menu {
    > .nav-item {
      .nav-link {
        color: #fff;
      }
      &.submenu {
        .dropdown-menu {
          .nav-item {
            &:hover,
            &:focus,
            &.active {
              > .nav-link {
                color: #3d64f4;
              }
            }
          }
        }
        &.mega_menu {
          > .dropdown-menu {
            > .nav-item {
              > .nav-link {
                color: #051441;
              }
            }
          }
        }
      }
    }
  }
  .btn_get {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    line-height: 44px;
    padding: 0px 28px;
    min-width: 120px;
    text-align: center;
    &:hover {
      background: #fff;
      color: #3d64f4;
      border-color: #fff;
    }
  }
  .menu_toggle {
    .hamburger,
    .hamburger-cross {
      span {
        background: #fff;
      }
    }
  }
}

.menu_six {
  padding: 0px;
  .menu {
    > .nav-item {
      .nav-link {
        color: #fff;
      }
      &:hover,
      &.active {
        .nav-link {
          color: #3d57f4;
          &:before {
            background: #3d57f4;
          }
        }
      }
      &.submenu {
        .dropdown-menu {
          .nav-item {
            &:hover,
            &:focus,
            &.active {
              > .nav-link {
                color: #3d57f4;
              }
            }
          }
        }
        &.mega_menu {
          > .dropdown-menu {
            > .nav-item {
              > .nav-link {
                color: #051441;
              }
            }
          }
        }
      }
    }
  }
  .menu_toggle {
    .hamburger-cross,
    .hamburger {
      span {
        background: #fff;
      }
    }
  }
  .btn_get {
    border: 1px solid #fff;
    line-height: 43px;
    color: #fff;
    &:hover {
      background: #3d57f4;
      border-color: #3d57f4;
    }
  }
}

.menu_seven {
  padding: 0px;
  .menu {
    .nav-item {
      .nav-link {
        color: #fff;
      }
      &.active,
      &:hover {
        .nav-link {
          &:before {
            background: #fff;
          }
        }
      }
      &.submenu {
        .dropdown-menu {
          .nav-item {
            &:hover,
            &:focus,
            &.active {
              > .nav-link {
                color: #4069eb;
              }
            }
          }
        }
        &.mega_menu {
          > .dropdown-menu {
            > .nav-item {
              > .nav-link {
                color: #051441;
              }
            }
          }
        }
      }
    }
  }
  .menu_toggle {
    .hamburger-cross,
    .hamburger {
      span {
        background: #fff;
      }
    }
  }
  .btn_get {
    background: transparent;
    &:hover {
      background: #fff;
      color: #4069eb;
    }
  }
}

.menu_eight {
  .menu {
    .nav-item {
      .nav-link {
      }
      &.active,
      &:hover {
        .nav-link {
          &:before {
            background: #fff;
          }
        }
      }
      &.submenu {
        .dropdown-menu {
          .nav-item {
            &:hover,
            &:focus,
            &.active {
              > .nav-link {
                color: #23b1fe;
              }
            }
          }
        }
        &.mega_menu {
          > .dropdown-menu {
            > .nav-item {
              > .nav-link {
                color: #051441;
              }
            }
          }
        }
      }
    }
  }
  .saas_btn {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #23b1fe;
  }
  .menu_toggle {
    .hamburger-cross,
    .hamburger {
      span {
        background: #fff;
      }
    }
  }
}

.btn_get_radious {
  border-radius: 45px;
  border-width: 1px;
  color: #fff;
  background: #fff;
  box-shadow: none;
  padding: 0px 28px;
  line-height: 45px;
  &:before {
    background: #5846ed;
  }
  &:hover {
    color: #5846ed;
  }
}
/*============== header_area css ==============*/

/*========= hamburger menu css ========*/
.navbar-toggler {
  padding: 0px;
  margin-left: 20px;
  &:focus {
    outline: none;
  }
}
.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
  .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    span {
      width: 0%;
      height: 2px;
      position: relative;
      top: 0;
      left: 0;
      margin: 4px 0;
      display: block;
      background: #5e2ced;
      border-radius: 3px;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
    }
  }
  .hamburger-cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    display: block;
    span {
      display: block;
      background: #5e2ced;
      border-radius: 3px;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      &:nth-child(1) {
        height: 100%;
        width: 2px;
        position: absolute;
        top: 0;
        left: 10px;
        transition-delay: 0.3s;
      }
      &:nth-child(2) {
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 10px;
        transition-delay: 0.4s;
      }
    }
  }
}
.collapsed {
  .menu_toggle {
    .hamburger {
      span {
        width: 100%;
        &:nth-child(1) {
          transition-delay: 0.3s;
        }
        &:nth-child(2) {
          transition-delay: 0.4s;
        }
        &:nth-child(3) {
          transition-delay: 0.5s;
        }
      }
    }
    .hamburger-cross {
      span {
        &:nth-child(1) {
          height: 0%;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          transition-delay: 0.2s;
        }
      }
    }
  }
}

.header_area_two,
.header_area_three {
  & + section {
    margin-top: 93px;
  }
}
.h_dark {
  background: #13112d;
}

.header_area_three {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
  .menu_four {
    .pl_30 {
      padding-left: 30px;
    }
    .btn_get {
      border-color: #5e2ced;
      background: #5e2ced;
      color: #fff;
      &:hover {
        background: transparent;
        color: #5e2ced;
      }
    }
  }
  &.navbar_fixed {
    .menu_four {
      .btn_get {
        border-color: #5e2ced !important;
      }
    }
  }
}

.header_area_four {
  .header_top {
    background: #13112d;
    a {
      transition: color 0.3s linear;
      &:hover {
        color: #5e2ced;
      }
    }
  }
  & + section {
    margin-top: 144px;
  }
}
.header_top {
  padding: 12px 0px;
}
.header_contact_info {
  margin-bottom: 0;
  li {
    display: inline-block;
    font-size: 14px;
    font-family: $pop;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    &:before {
      content: "";
      width: 1px;
      height: 12px;
      top: 1px;
      background: #5e5d76;
      display: inline-block;
      position: relative;
      margin: 0px 22px 0px 20px;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    a {
      color: #c3c1da;
      font-weight: 300;
      padding-left: 5px;
    }
  }
}
.header_social_icon {
  text-align: right;
  margin-bottom: 0;
  li {
    display: inline-block;
    margin: 0px 0px 0px 15px;
    a {
      font-size: 12px;
      color: #fff;
    }
  }
}

.header_area_five {
  .menu_one {
    padding: 0px 50px;
  }
}

.header_area_six {
  .header_top {
    border-bottom: 1px solid #e5ddfc;
    a {
      &:hover {
        color: #5e2ced !important;
      }
    }
    .header_contact_info {
      li {
        color: #282835;
        a {
          color: #677294;
        }
      }
    }
    .header_social_icon {
      li {
        a {
          color: #282835;
        }
      }
    }
  }
  & + section {
    margin-top: 144px;
  }
}
.search_cart {
  margin-left: 19px;
  &:before {
    content: "";
    width: 1px;
    height: 12px;
    background: #919198;
    display: inline-block;
    position: relative;
    top: -2px;
  }
  .search,
  .shpping-cart {
    display: inline-block;
    padding-top: 5px;
    a {
      font-size: 20px;
      line-height: 27px;
      color: #282835;
      margin-left: 15px;
      &:hover {
        color: #5e2ced;
      }
    }
  }
  .search {
    a {
      font-size: 16px;
    }
  }
}

.header_area_seven {
  .header_top {
    background: #5e2ced;
    padding: 0px;
    a {
      line-height: 50px;
      opacity: 0.7;
      transition: opacity 0.2s linear;
      &:hover {
        opacity: 1;
      }
    }
    .header_contact_info {
      li {
        i {
          vertical-align: middle;
        }
        a {
          color: #fff;
        }
      }
    }
    .header_social_icon {
      border-left: 1px solid #7444ff;
      padding-left: 22px;
      margin-left: 40px;
    }
    .header_top_menu {
      text-align: right;
      margin-bottom: 0px;
      li {
        display: inline-block;
        &:before {
          content: "";
          width: 1px;
          height: 11px;
          background: #8e6bf7;
          display: inline-block;
          vertical-align: middle;
          margin: 0px 17px 0px 15px;
        }
        a {
          font-size: 12px;
          font-family: $pop;
          font-weight: 300;
          color: #fff;
          transition: opacity 0.2s linear;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
      }
    }
  }
  & + section {
    margin-top: 143px;
  }
}

/*============ sticky menu css ==============*/
.header_area {
  transition: all 0.2s linear;
  &.navbar_fixed,
  &.signup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    .menu_one {
      padding: 0px;
      transition: all 0.2s linear;
      .btn_get {
        box-shadow: none;
      }
    }
    .sticky_logo {
      img {
        display: none;
        & + img {
          display: block;
        }
      }
    }
    .w_menu {
      .nav-item {
        .nav-link {
          color: #051441;
          &:before {
            background: #051441;
          }
        }
      }
    }
    .menu_two {
      .menu_toggle {
        .hamburger-cross,
        .hamburger {
          span {
            background: #051441;
          }
        }
      }
      .nav_right_btn .login_btn {
        &.active,
        &:hover {
          border-color: #00aff0;
          color: #333;
          box-shadow: none;
        }
        &.active {
          &:hover {
            background: #00aff0;
            color: #fff;
          }
        }
      }
    }
    .menu_four {
      .btn_get {
        border: 2px solid #ccc5fa;
        box-shadow: none;
        &:hover {
          border-color: #6754e2;
        }
      }
      .menu_toggle {
        .hamburger,
        .hamburger-cross {
          span {
            background: #6754e2;
          }
        }
      }
    }
    .nav_right_btn {
      .login_btn {
        color: #051441;
      }
    }
    .menu_five {
      .btn_get {
        border-color: #3d64f4;
        color: #3d64f4;
        &:hover {
          background: #3d64f4;
          color: #fff;
        }
      }
      .menu_toggle {
        .hamburger-cross,
        .hamburger {
          span {
            background: #3d64f4;
          }
        }
      }
    }
    .menu_six {
      .menu {
        > .nav-item {
          > .nav-link {
            color: #051441;
          }
          &:hover,
          &.active {
            > .nav-link {
              color: #3d57f4;
              &:before {
                background: #3d57f4;
              }
            }
          }
        }
      }
      .menu_toggle {
        .hamburger-cross,
        .hamburger {
          span {
            background: #3d57f4;
          }
        }
      }
      .btn_get {
        border-color: #3d57f4;
        box-shadow: none;
        color: #3d57f4;
        &:hover {
          color: #fff;
        }
      }
    }
    .menu_seven {
      .menu {
        > .nav-item {
          > .nav-link {
            color: #051441;
          }
          &:hover,
          &.active {
            > .nav-link {
              color: #4069eb;
              &:before {
                background: #4069eb;
              }
            }
          }
        }
      }
      .btn_get {
        border-color: #4069eb;
        color: #4069eb;
        &:hover {
          background: #4069eb;
          color: #fff;
        }
      }
      .menu_toggle {
        .hamburger-cross,
        .hamburger {
          span {
            background: #4069eb;
          }
        }
      }
    }
    .menu_eight {
      .saas_btn {
        border-color: #23b1fe;
        box-shadow: none;
        &:hover {
          background: #23b1fe;
          color: #fff;
        }
      }
      .menu_toggle {
        .hamburger,
        .hamburger-cross {
          span {
            background: #23b1fe;
          }
        }
      }
    }
    &.header_area_five {
      .menu_one {
        padding: 0px 50px;
      }
    }
  }
}
