/*----------------------------------------------------
@File: Default Styles
@Author: Md. Shahadat Hussain
@URL: https://themeforest.net/user/droitthemes

This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.
---------------------------------------------------- */
/*=====================================================================
@Template Name: 
@Author: Md. Shahadat Hussain
@Developed By: Rony
@Developer URL: https://themeforest.net/user/droitthemes

@Default Styles

Table of Content:
01/ variables
02/ predefine
03/ button
04/ preloader
05/ header
06/ banner
07/ breadcrumb
08/ features
09/ service
10/ price
11/ about
12/ testimonial
13/ screenshot
14/ joblist
15/ faq
16/ portfolio
17/ contact
18/ error
19/ shop
20/ blog
21/ footer

=====================================================================*/

/*====================================================*/
@import "variables";
/*====================================================*/

/*====================================================*/
@import "predefine";
/*====================================================*/

/*====================================================*/
@import "button";
/*====================================================*/

/*====================================================*/
@import "preloader";
/*====================================================*/

/*====================================================*/
@import "header";
/*====================================================*/

/*====================================================*/
@import "banner";
/*====================================================*/

/*====================================================*/
@import "breadcrumb";
/*====================================================*/

/*====================================================*/
@import "features";
/*====================================================*/

/*====================================================*/
@import "service";
/*====================================================*/

/*====================================================*/
@import "price";
/*====================================================*/

/*====================================================*/
@import "about";
/*====================================================*/

/*====================================================*/
@import "testimonial";
/*====================================================*/

/*====================================================*/
// @import "screenshot";
/*====================================================*/

/*====================================================*/
@import "joblist";
/*====================================================*/

/*====================================================*/
// @import "faq";
/*====================================================*/

/*====================================================*/
// @import "portfolio";
/*====================================================*/

/*====================================================*/
@import "contact";
/*====================================================*/

/*====================================================*/
@import "error";
/*====================================================*/

/*====================================================*/
// @import "shop";
/*====================================================*/

/*====================================================*/
// @import "blog";
/*====================================================*/

/*====================================================*/
@import "footer";
/*====================================================*/

.navbar-brand {
  img {
    width: 160px;
  }
}

.breadcrumb_areashortcode {
  background-image: url("../img/shortcodebg1.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 200px 0px 125px;
  overflow: hidden;
}

.breadcrumb_areaussd {
  background-image: url("../img/wavebg.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 200px 0px 125px;
  overflow: hidden;
}

// .navbar > .container,
// .navbar-expand-lg .navbar-nav,
// .nav_right_btn {
//   flex-direction: row-reverse;
// }
.mobile-div {
  right: 0;
  height: 100vh;
  display: flex;

  .svg-img {
    bottom: 0%;
    width: 100%;
    z-index: -1;
    // position: absolute;
    display: flex;
    align-items: flex-end;
    img {
      display: block;
      width: 750px;
    }
  }
}

.small-print {
  opacity: 0.6;
  font-size: 10px;
}
