<template>
  <div class="container-fluid">
    <div
      id="nav-tabContent"
      class="tab-content py-3 px-3 px-sm-0"
    >
      <div
        id="nav-bulk"
        class="tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="nav-home-bulk"
      >
        <div class="row">
          <!-- Send   Message  Title  -->
          <div class="col-md-8">
            <div class="card">
              <div class="card-header bg-white">
                <img src="/img/Group 22.svg" />&nbsp;
                <span class="header-head">Send Bulk SMS</span>
                <span class="header-right-text float-right">Send Your message to multiple contacts in one go.</span>
              </div>
              <div class="section1">
                <div class="card-body bt-1">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label
                          for="email"
                          class="input-title"
                        >Sender's name</label>
                        <select class="form-control form-control-sm ">
                          <option>Emalify</option>
                        </select>
                      </div>

                      <div
                        class="row"
                        v-if="!sendFromFile"
                      >
                        <div class="col">
                          <div class="form-group">
                            <label
                              for="email"
                              class="input-title"
                            >Select Contact List</label>
                            <select class="form-control form-control-sm">
                              <option value="">Select Existing</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-2 d-flex align-items-center justify-content-center">
                          <div class="d-flex w-100">
                            <p class="or mb-0"><span>or</span></p>
                          </div>
                        </div>
                        <div class="col">

                          <!-- Button trigger modal -->
                          <div class="form-group ">
                            <label
                              for="email"
                              class="input-title"
                            >Upload New Contacts List</label>
                            <button
                              class="btn btn-default btn-block fz-13"
                              @click="sendFromFile = true"
                            >
                              <i class="fa fa-list">&nbsp;&nbsp;</i>Create new list
                            </button>
                          </div>
                          <!-- Button trigger modal end -->
                        </div>
                      </div>
                      <!-- Upload from a file -->
                      <!-- <div
                        class="row justify-content-center"
                        v-if="!sendFromFile"
                      >
                        <div class="col">
                          <button
                            class="btn btn-secondary btn-block fz-13 font-weight-bolder"
                            @click="sendFromFile = true"
                          >
                            I have a csv file to send to
                          </button>
                        </div>
                      </div> -->
                    </div>

                    <div
                      class="col-md-12 justify-content-center pl-3 pr-3 pt-2 mb-lg-n3"
                      v-if="sendFromFile"
                    >
                      <label
                        for="email"
                        class="input-title w-100"
                      >Upload a csv file to send to <span
                          class="rounded-circle float-right badge badge-danger custom-badge-sms "
                          @click="RemoveAttached"
                        >X</span></label>
                      <div
                        class="dashed mb-1 mb-2"
                        style="padding: 1px;"
                      >
                        <div
                          class="p-2 box justify-content-center bg-halfWhite"
                          align="center"
                          v-if="!fileAttached && !uploading"
                        >
                          <span class="text-center span-text">Drag-n-drop your file here or</span>
                          <div class="form-group mt-2">
                            <button
                              class="btn btn-default btn-block fz-13 font-weight-bolder"
                              @click="$refs.file.click()"
                            >
                              Upload from computer
                            </button>
                            <input
                              @change="uploadFile()"
                              type="file"
                              name="file"
                              style="display:none;"
                              ref="file"
                            />
                            <span class="text-center mt-3 span-text">.csv and xls formats only</span>
                          </div>
                        </div>
                        <!-- progress bar -->
                        <div
                          class="p-2 box justify-content-center bg-halfWhite"
                          align="center"
                          v-if="uploading"
                        >
                          <div
                            class="progress mt-3"
                            style="height:10px"
                          >
                            <progress
                              max="100"
                              class="progress-bar"
                              style="height:10px; width:100%; "
                              :value.prop="percentCompleted"
                            ></progress>

                          </div>
                          <div
                            class="mt-1 text-left "
                            v-if="uploading"
                          >
                            <span class="text-1  text-lightgray"> <span v-if="uploading">Uploading....</span> {{percentCompleted}}% complete
                            </span>
                          </div>

                        </div>

                        <div
                          v-if="fileAttached"
                          class="p-2 box justify-content-center bg-halfWhite"
                          align="center"
                        >
                          <p class="text-center span-text">{{files.name}}</p>

                          <span class="text-center span-text"> File Attached</span>
                          <button
                            class="btn btn-default text-danger btn-block fz-13 font-weight-bolder"
                            @click="RemoveAttached"
                          >Remove File</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-body bt-1">
                  <div v-if="fileheaders">
                    <span class="text-1 text-lightgray">{{fileheaders.length}} headers detected. Click on a custom header below to add it to your message.</span>
                  </div>
                  <!-- Headers  Found In  The  File -->
                  <div class="mb-2">

                    <span
                      class="badge mr-2 pb-1 pl-3 pr-3 pt-1 custom-bedge custom-badge-sms"
                      :class="selected(header)"
                      v-for="(header, i) in fileheaders"
                      :key="i"
                      @click="insertHeader(header)"
                    >{{header}}</span>
                  </div>
                  <!-- end Headers  Found In  The  File -->
                  <div class="form-group">
                    <textarea
                      class="form-control br-11 fz-14 text-lightgray"
                      focused
                      rows="6"
                      v-model="bulk.message"
                      ref="msgArea"
                      placeholder="Write your message here..."
                    ></textarea>
                    <span class="float-right text-1 text-lightgray fz-12">Headers used in this message: {{addedHeaders.length}}/{{fileheaders.length}}</span>
                  </div>

                </div>
                <!--  Schedule  For  Later -->
                <div class="card-body mb-lg-n3">
                  <div class="custom-control custom-checkbox">
                    <input
                      id="customCheck1"
                      type="checkbox"
                      checked
                      v-model="Scheduled"
                      class="custom-control-input"
                    />
                    <label
                      class="custom-control-label text-lightgray position-relative"
                      for="customCheck1"
                    >Schedule for later</label>
                  </div>
                  <div
                    class="row mt-3"
                    v-if="Scheduled"
                  >
                    <div class="col-md-5">
                      <div class="form-group">
                        <label
                          for="email"
                          class="input-title"
                        >Select Send Time </label>
                        <div class="block">
                          <el-date-picker
                            v-model="bulk.send_time"
                            type="datetime"
                            placeholder="Pick a Date"
                            value-format="yyyy-MM-dd HH:mm:ss"
                          ></el-date-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-1 pb-4 bg-white">
                  <div class="card-body pr-0">
                    <!-- Send  Message  Button -->
                    <button
                      class="btn btn-primary-custom float-right  fz-13"
                      data-toggle="modal"
                      data-target="#sendBulkMessageModal"
                    >Send message</button>
                    <!--Preview Message Button -->
                    <button
                      type="button"
                      class="btn btn-default float-right mr-4  fz-13"
                      data-toggle="modal"
                      data-target="#viewMessageModal"
                      @click="custom_bulk_previewer"
                    >Custom Bulk Preview</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-md-4">
            <div class="card">
              <div class="card-header bg-white">
                <span class="header-head">Bulk SMS outbox</span>
                <span
                  class="badge badge-primary rounded-circle float-right"
                  style="padding:4px 7px 5px 7px"
                >3</span>
                &nbsp;
              </div>
              <!-- end card-header -->
              <div class="bg-white bt-1 card-body pb-0 pt-2">
                <div class="row">
                  <div class="col">
                    <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback fz-13 text-lightgray"></span>
                      <input
                        type="text"
                        class="form-control form-control-sm fz-13 text-lightgray"
                        placeholder="Search"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <select class="form-control form-control-sm fz-13 text-lightgray">
                        <option value="">Last 7 Days</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- card-body -->
              <div class="card-body bg-white emails">
                <sms-message
                  v-for="(email, i) of emails"
                  :key="i"
                  v-bind="email"
                ></sms-message>
              </div>
              <!-- email -->
              <div class="card-footer bg-white pb-0">
                <div class="row">
                  <div class="col">
                    <ul class="pagination ">
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="#"
                        ><i class="fa fa-chevron-left"></i></a>
                      </li>
                      <li class="page-item ">
                        <a
                          class="page-link"
                          href="#"
                        >2</a>
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="#"
                        ><i class="fa fa-chevron-right"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="ml-auto">
                    <button class="btn btn-default d-inline-block fz-13">
                      Clear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Single  Recipients Number-->
      <div
        id="nav-single"
        class="tab-pane"
        role="tabpanel"
        aria-labelledby="nav-single-tab"
      >
        <div
          id="nav-single"
          class="tab-pane fade show active"
          role="tabpanel"
          aria-labelledby="nav-home-bulk"
        >
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header bg-white">
                  <img src="/img/Group 22.svg" />&nbsp;
                  <span class="header-head">Send Single SMS</span>
                  <span class="header-right-text float-right">Send Your message to a single contact.</span>
                </div>
                <div class="section1">
                  <div class="card-body bt-1">
                    <div class="row mb-lg-n4">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            for="email"
                            class="input-title"
                          >Sender's name</label>
                          <select class="form-control form-control-sm ">
                            <option>Emalify</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label
                          for=""
                          class="input-title"
                        >Recipent's Phone Number</label>
                        <div class="form-group">
                          <input
                            class="form-control form-control-sm"
                            placeholder="0712 345 678"
                          />
                          <option value=""></option>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bt-1 mt-2 mb-lg-n4">
                    <div class="form-group">
                      <textarea
                        class="form-control  br-11"
                        rows="6"
                        placeholder="Write your message here..."
                      ></textarea>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="custom-control custom-checkbox">
                      <input
                        id="customCheck1"
                        type="checkbox"
                        checked
                        class="custom-control-input"
                      />
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label
                            for="email"
                            class="custom-label input-title"
                          >Select time and Date</label>
                          <input
                            type="date"
                            class="form-control form-control-sm"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-footer bg-white pt-4 pb-5">
                    <div class="card-body pr-0">
                      <button class="btn btn-primary-custom float-right col-3 fz-13"> Send message </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-md-4">
              <div class="card">
                <div class="card-header bg-white">
                  <span class="header-head">Single SMS outbox</span>
                  <span
                    class="badge badge-primary rounded-circle float-right"
                    style="padding:4px 7px 5px 7px"
                  >3</span>
                  &nbsp;
                </div>
                <div class="bg-white bt-1 card-body pb-0 pt-2">
                  <div class="row">
                    <div class="col">
                      <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback fz-13 text-lightgray"></span>
                        <input
                          type="text"
                          class="form-control form-control-sm fz-13 text-lightgray"
                          placeholder="Search"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <select class="form-control form-control-sm fz-13 text-lightgray">
                          <option value="">Last 7 Days</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- emails -->
                <div class="card-body bg-white emails">
                  <sms-message
                    v-for="(email, i) of emails2"
                    :key="i"
                    v-bind="email"
                  />
                </div>
                <!-- end emails -->
                <!-- pagination -->
                <div class="card-footer bg-white pb-0">
                  <div class="row">
                    <div class="col">
                      <ul class="pagination ">
                        <li class="page-item">
                          <a
                            class="page-link"
                            href="#"
                          >
                            <i class="fa fa-chevron-left"></i>
                          </a>
                        </li>
                        <li class="page-item ">
                          <a
                            class="page-link"
                            href="#"
                          >2</a>
                        </li>
                        <li class="page-item">
                          <a
                            class="page-link"
                            href="#"
                          ><i class="fa fa-chevron-right"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="ml-auto">
                      <button class="btn btn-default d-inline-block fz-13">
                        Clear
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        id="outbox"
        class="tab-pane fade show active"
        role="tabpanel"
        aria-labelledby="nav-home-bulk"
      >
        <!-- <div class="row">
          <SmsOutbox />
        </div> -->

      </div>
    </div>

    <!-- SMS  MODALS -->
    <message-modal :custom_bulk_parameters="custom_bulk_preview" />
    <PreviewBulkModal
      :bulk_parameters="bulk"
      :user_parameters="user_info"
    ></PreviewBulkModal>
    <ExpressPreviewModal
      :express_parameters="express"
      :user_parameters="user_info"
    ></ExpressPreviewModal>
    <new-contact-modal />
  </div>
</template>

<script>
import SmsMessage from "@/components/dashboard/sms/message";
import SmsOutbox from "@/components/dashboard/sms/outbox";
import MessageModal from "@/components/dashboard/modal/view-message-modal";
import NewContactModal from "@/components/dashboard/modal/new-contact-modal.vue";
export default {
  components: { SmsMessage, MessageModal, NewContactModal, SmsOutbox },

  data() {
    return {
      bulk: {
        oa: "",
        message: "",
        contact_group_id: "None",
        send_time: "2019-11-19 10:48:20",
        file: ""
      },
      express: {
        oa: "",
        sender: "",
        message: "",
        msisdn: "",
        send_time: new Date()
      },
      user_info: { customer_account: "", user_group: "", user_name: "" },
      custom_bulk_preview: "",
      origin_addresses: {},
      contact_groups: {},
      files: "",
      fileAttached: false,
      fileheaders: "",
      msgBody: "",
      addedHeaders: [],
      uploading: false,
      percentCompleted: 0,
      sendFromFile: false,
      Scheduled: null,
      errors: [],
      // Send bulk sms - emails
      emails: [
        {
          title: "Emalify",
          subtitle: "Contact list 5",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        },
        {
          title: "Emalify",
          subtitle: "Contact list 5",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        },
        {
          title: "Emalify",
          subtitle: "Contact list 5",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        }
      ],
      // Send single sms - emails
      emails2: [
        {
          title: "Emalify",
          subtitle: "+254 768 304 589",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        },
        {
          title: "Betika",
          subtitle: "+254 678 910 111",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Scheduled"
        },
        {
          title: "Emalify",
          subtitle: "Contact list 5",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        },
        {
          title: "Emalify",
          subtitle: "Contact list 5",
          content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
          date: "Mon 24-08:34AM",
          status: "Sent"
        }
      ]
    };
  },

  head: {
    title: "Send bulk SMS"
  },
  computed: {},
  methods: {
    custom_bulk_previewer() {
      console.log(this.bulk.send_time);
      const formData = new FormData();
      formData.append("file", this.bulk.file);
      formData.append("customer_account", this.user_info.customer_account);
      formData.append("user_group", this.user_info.user_group);
      formData.append("message", this.bulk.message);
      formData.append("sender", this.bulk.oa);
      formData.append("send_time", this.bulk.send_time);
      this.$axios
        .post(
          "https://emalify.emalify.com/api/utility/custom_bulk/preview",
          formData,
          { headers: { "Content-Type": "multipart/form-data" } }
        )
        .then(res => {
          if (res.request.status === 200) {
            this.custom_bulk_preview = res.data;
            // location.reload(true)
          }
        })
        .catch(error => (this.errors = console.log(error)));
      //  .catch(error => console.log(error.response.data.errors))
    },
    set_user_info() {
      (this.user_info.customer_account = UserInfo.customerAccount()),
        (this.user_info.user_group = UserInfo.userGroup());
      this.user_info.user_name = UserInfo.name();
    },
    fetch_origin_address() {
      this.$axios
        .get(
          `${base_url}services/shortcodes/${this.user_info.customer_account}/${
            this.user_info.user_group
          }`
        )
        .then(res => {
          this.origin_addresses = res.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetch_contact_groups() {
      this.$axios
        .get(
          `${base_url}contacts/contactgroups/${
            this.user_info.customer_account
          }/${this.user_info.user_group}`
        )
        .then(res => {
          this.contact_groups = res.data;
          console.log(this.contactGroups);
        })
        .catch(error => {
          console.log(error);
        });
    },
    uploadFile() {
      this.files = this.$refs.file.files[0];
      this.bulk.file = this.$refs.file.files[0];
      this.uploading = true;

      console.log(this.uploading);
      const $this = this;
      /*
                Initialize the form data
            */
      let formData = new FormData();

      /*
                Add the form data we need to submit
            */
      formData.append("file", this.files);

      var config = {
        onUploadProgress: function(progressEvent) {
          $this.percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          );
        }
      };

      /*
          Make the request to the POST /single-file URL
        */
      this.$axios
        .post(
          "https://emalify.emalify.com/api/utility/file_headers",
          formData,
          config,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          }
        )
        .then(function(res) {
          $this.fileheaders = res.data;
          $this.uploading = false;
          $this.fileAttached = true;
          // console.log($this)
          console.log(res.data);
        })
        .catch(function(err) {
          console.log("FAILURE");
          this.errors.push(err);
        });
    },
    insertHeader(header) {
      console.log(header);
      let textarea = this.$refs.msgArea;
      let cursorPosition = textarea.selectionStart;
      let endPos = textarea.selectionEnd;
      // let tmpStr = textarea.value

      this.bulk.message += ` {${header}} `;
      if (this.addedHeaders.includes(header)) {
        return;
      }
      this.addedHeaders.push(header);

      console.log(this.msgBody);
      // this.msgBody + header
    },
    selected(header) {
      return this.addedHeaders.includes(header)
        ? "badge-primary"
        : "badge-secondary";
    },
    RemoveAttached() {
      this.files = "";
      this.fileAttached = false;
      this.sendFromFile = false;
      this.fileheaders = "";
      this.addedHeaders = [];
    }
  }
};
</script>

<style scoped>
.input-title {
  font-size: 14px;
  font-weight: bold;
  color: #2c3f58;
}
.input-title-contactListName {
  font-size: 14px;
  font-weight: bold;
  color: #2c3f58;
  margin-left: 2%;
  padding-top: 1%;
}
.custom-badge-sms {
  border-radius: 11px !important;
  font-size: 11px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(211, 211, 211);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}
.btn-close {
  color: #2c3f58;
}
.btn-close {
  color: #ffffff;
  background-color: #2985ef;
  border-color: #2985ef;
  float: left;
}
.btn-close:hover {
  color: #2985ef;
  border-color: #2985ef;
  background-color: #fafbfd;
}
.btn-close:active {
  color: #fafbfd;
  background-color: #2985ef;
}
.container-fluid {
  background-color: #fafbfd;
}
.tab-pane-previewSms {
  background-color: #fafbfd;
}
</style>
